.deps
bti
*.asc
*.bz2
*.gz
*.o
*.swp
*.tar
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
check-news.in
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tags
