# comments are allowed in the bti config file
# rename this to ~/.bti so that you do not need
# to constantly enter your account name and/or
# password on the command line every time you send
# a message.
account=twitmaster
password=icanhascheezburger
host=identica
# Example of a custom StatusNet installation
#host=http://army.twit.tv/api/statuses
logfile=.bti.log
#action=update
#user=gregkh
#proxy=http://localhost:8080
#shrink-urls=yes
# Example of using bit.ly in bti-shrink-urls
#shrink_host=bit.ly
#shrink_bitly_login=bitlyuser
#shrink_bitly_key=R_deadbeef
